

.list-color .card{
    margin-top: 20px;
    width: 97% ;
    border-radius: 57px 57px 57px 57px;
    justify-content: center;
    text-align: center;
}

.list-color{
    background-color: #4a41a9;
    border-radius: 0;
    margin: 0;
    padding: 0;
}



.list-content{
    margin: 0;
    padding: 0;
}

.container, .container-sm {
    max-width: 100% ;
    width: 100%;
    margin: 0;
    padding: 0;
}

.button{
    justify-content: center;
    align-items: center;
    vertical-align: bottom;
    text-align: center;
}

.list-color .card-body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 1rem 1rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


#deleteMaterial, #editMaterial{
    border-radius: 100px;
    margin: 5px;
}


.color-list-responsive{
    background-color: #4a41a9;
}

@media (min-width: 768px) {
    .list-color .card{
        margin-top: 20px; 
        margin-left: 20px;
        width: 18rem; 
        border-radius: 57px 57px 57px 57px;
        justify-content: start;
        text-align: start;
    }

    .list-color{
        
        background-color: #4a41a9;
        border-radius: 0;
        margin: 0;
        padding: 0;
    }

    .list-content .row{
        justify-content: center;
        background-color: #4a41a9;
    }

    .list-content{
        margin: 0;
        padding: 0;
    }

    .container, .container-sm {
        max-width: 100% ;
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 768px) {
    #deleteMaterial, #editMaterial{
        padding: 15px;
    }
}